# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CountrySim/.vs/CountrySim/v14/.suo
*.log
CountrySim/CountrySim/Debug/CountrySim.tlog/CL.command.1.tlog
*.tlog
CountrySim/CountrySim/Debug/source.obj.enc
*.idb
CountrySim/CountrySim/Debug/vc140.pdb
*.ilk
CountrySim/Debug/CountrySim.pdb
